<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List with Database</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <div class="box" id="heading">
            <h1><%= kindOfDay %></h1>
   </div> 
   <div class="box">
        <!-- Remember to use marker for value and scriptlet -->
        <% for (var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>
    
   </div>


    <form class="" action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>

</body>
</html>