<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List with Database</title>
</head>
<body>
    <!-- we need to put scriplet tag for JS, and ignore the HTML -->
    <% if (kindOfDay === "Saturday" || kindOfDay ==="Sunday") { %>
        <h1 style="color: purple"><%= kindOfDay %></h1>
    <% } else { %>
        <h1 style="color: green"><%= kindOfDay %></h1>
    <% } %>

    <ul style="font-size: 20pt;">
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
    </ul>

    <form>
        <input>
    </form>

</body>
</html>