<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List with Database</title>
</head>
<body>
    <!-- we need to put scriplet tag for JS, and ignore the HTML -->
    <% if (kindOfDay === "Saturday" || kindOfDay ==="Sunday") { %>
        <h1 style="color: purple"><%= kindOfDay %></h1>
    <% } else { %>
        <h1 style="color: green"><%= kindOfDay %></h1>
    <% } %>

    <ul style="font-size: 20pt;">
        <% for (var i=0; i<newListItems.length; i++){ %>
            <li><%= newListItems[i] %></li>
        <% } %>
    </ul>

    <form class="" action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>

</body>
</html>